In [1]:
# !pip install yfinance

In [2]:
import requests
import pprint
import pandas as pd
import yfinance as yf
import datetime
stocks = ['CVX', 'OXY', 'BP', 'XOM', 'EOG', 'TOT', 'DVN', 'RDS-B', 'EQNR', 'COP', 'CL=F']
names = ['Chevron', 'Oxy', 'BP', 'ExxonMobil', 'EOG Resources', 'Total', 'Devon Energy', 'Shell', 'Equinor', 'ConocoPhillips', 'Oil Futures']

In [3]:
def data_retrieve(tickers, names):
    start = datetime.datetime(2019,1,1)
    end = datetime.datetime(2019,12,31)
    data = yf.download(tickers, start=start, end=end)
    data_fix = data.reset_index()
    data_fix.insert(0,'Name', names)
    data_fix.insert(1,'Ticker', tickers)
    return data_fix

In [4]:
master_df = data_retrieve(stocks[0], names[0])

[*********************100%***********************]  1 of 1 completed

In [6]:
stocks = ['OXY', 'BP', 'XOM', 'EOG', 'TOT', 'DVN', 'RDS-B', 'EQNR', 'COP', 'CL=F']
names = ['Oxy', 'BP', 'ExxonMobil', 'EOG Resources', 'Total', 'Devon Energy', 'Shell', 'Equinor', 'ConocoPhillips', 'Oil Futures']
for stock, name in zip(stocks, names):
    add_data = data_retrieve(stock, name)
    master_df = master_df.append(add_data, ignore_index=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
master_df

,Name,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Chevron,CVX,2019-01-02,107.339996,111.680000,107.099998,110.690002,99.261368,6384800
1,Chevron,CVX,2019-01-03,111.059998,111.290001,108.070000,108.570000,97.360268,6496200
2,Chevron,CVX,2019-01-04,110.279999,110.989998,109.470001,110.820000,99.377945,7952500
3,Chevron,CVX,2019-01-07,111.059998,112.930000,109.919998,112.260002,100.669258,5712700
4,Chevron,CVX,2019-01-08,113.400002,113.790001,111.669998,111.769997,100.229866,5674900
...,...,...,...,...,...,...,...,...,...
2754,Oil Futures,CL=F,2019-12-23,60.410000,60.770000,60.099998,60.520000,60.520000,314711
2755,Oil Futures,CL=F,2019-12-26,61.200001,61.830002,61.060001,61.680000,61.680000,265091
2756,Oil Futures,CL=F,2019-12-27,61.730000,61.970001,61.240002,61.720001,61.720001,351899
2757,Oil Futures,CL=F,2019-12-30,61.709999,62.340000,61.090000,61.680000,61.680000,427149
2758,Oil Futures,CL=F,2019-12-31,61.680000,61.880001,60.630001,61.060001,61.060001,494535

In [ ]:
#master_df = master_df[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
#master_df